body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/* CHOICES */

.choices {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 800px;
	height: 600px;
	/* height: 100vh; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.card {
	flex-basis: calc(50% - 40px);
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-content {
	width: 250px;
	height: 250px;
	text-align: center;
	border-radius: 8px; /* Rounded corners */
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  	transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

/* JOB READY ANIMATION */

@keyframes jobanimate {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}
.ready {
	animation: jobanimate 0.5s infinite alternate;
	/* font-weight: bold; */
}
.ready:hover {
	cursor: pointer;
}

/* HUD ** */

.hud {
	position: absolute;
}

.hud > * {
	margin: 20px;
}

.err {
	color: red;
}

/* * {
	outline: 1px solid black;
} */

/* GAME */
.page {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.game {
	margin: auto;
	height: 50vh;
	width: 50vw;
	text-align: center;
}

.status {
	color: grey;
}

input {
	width: 200px;
	padding: 10px;
	margin: 10px auto;
}

/* BUTTON */
button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
}

button:hover {
	background-color: #0056b3;
}
